#header {
    padding-top: 20px;
    background-color: #0b736f;
    color: white;
    text-align: center;
    border-bottom: 5px solid #DCB933;
    font-family: fantasy, Georgia, 'Times New Roman', Times, serif;
}

#searchbar {
    background-color: whitesmoke;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#searchbar input {
    width: 400px;
}
